{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add new course {% endblock %}</h1>
    <form method="post">
        <label for="coursecode">Course Code</label>
        <br>
        <input type="text" name="coursecode" placeholder="Course Code"></input>
        <br>

        <label for="coursename">Course Name</label>
        <br>
        <input type="text" name="coursename" placeholder="Course Name" size="60"></input>

        <br>

        <label for="department">Department</label>
        <br>
        <select name="iddepartment">
            <option value="1">DCS</option>
            <option value="2">DEC</option>
        </select>
        <br>

        <label for="program">Program</label>
        <br>
        <select name="idprogram">
            {% for program in programs %}
                <option value="{{ program['IDProgram'] }}">{{ program['program'] }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="manager">Manager</label>
        <br>
        <select name="idmanager">
            {% for manager in managers %}
                <option value="{{ manager['IDManager'] }}">{{ manager['manager'] }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="teacher">Teacher in Charge</label>
        <br>
        <select name="idteacher">
            {% for teacher in teachers %}
                <option value="{{ teacher['IDteacher'] }}">{{ teacher['Lastname'] }} {{ teacher['Firstname'] }}</option>
            {% endfor %}
        </select>
        <br>

        <button type="submit" onclick="return confirm('Are you sure you want to add the course?')">Submit</button>
        <button type="button" onclick="history.back()">Back</button>
    </form>
{% endblock %}
