{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Report all Courses {% endblock %}</h1>
    <form name="report_all_teachers" method="GET">
        {% for ch in ach %}
            <table>
                <tr>
                    <td>Course</td>
                    <td>Total Hours</td>
                    <td>Teacher</td>
                    <td>Hours</td>
                </tr>
            {% for course_hour in ch %}
                <tr>
                    <td>{{ course_hour['coursecode'] }} {{ course_hour['coursename'] }}</td>
                    <td>{{ course_hour['totalhours'] }} ({{ course_hour['t_type'] }})</td>
                    <td>{{ course_hour['Lastname'] }}</td>
                    <td>{{ course_hour['hours'] }}</td>
                </tr>
            {% endfor %}
            </table>
        <hr>
        {% endfor %}
        <button type="button" onclick="history.back()">Back</button>
    </form>
{% endblock %}