{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Courses {% endblock %}</h1>
    <form action="{{ url_for('add_course') }}">
        <input type="submit" name="add_course" value="Add new Course"></input>
    </form> 
    {% for course in current_courses %}
        <div class='course'>
            <a href="{{url_for('single_course', idcourse = course['idcourse'])}}"><br />
                    {{course['Coursecode'] }} {{ course['coursename'] }} 
            </a>
        </div>
    {% endfor %}
{% endblock %}