{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit number of hours {% endblock %}</h1>
    IDCourseHours: {{ coursehour['IDCourseHours']}}<br/>
    IDCourse: {{ coursehour['IDCourse']}}<br/>
    <form method="post">
        <label for="totalteachinghours">Hours</label>
        <br>
        <input type="text" name="totalteachinghours"
               placeholder="Hours"
               value="{{ request.form['totalteachinghours'] or coursehour['totalteachinghours'] }}"></input>
        <br>

        <label for="teachingtype">Teaching Type</label>
        <br>
        <select name="idteachingtype">
            {% for t_type in teachingtypes %}
                <option value="{{ t_type['idteachingtype'] }}"{{'selected' if t_type['idteachingtype']==cur_ttype}}>
                    {{ t_type['teachingtype'] }}
                </option>
            {% endfor %}
        </select>
        <br>

        <label for="semester">Semester</label>
        <br>
        <select name="idsemester">
            {% for semester in semesters %}
                <option value="{{ semester['idsemester'] }}"{{'selected' if semester['idsemester']==cur_semester}}>
                    {{ semester['semester'] }}
                </option>
            {% endfor %}
        </select>
        <br>

        <label for="class">Class</label>
        <br>
        <select name="idclass">
            {% for t_class in t_classes %}
                <option value="{{ t_class['IDClass'] }}"{{'selected' if t_class['idclass']==cur_class}}>
                    {{ t_class['class'] }} {{ t_class['program'] }}
                </option>
            {% endfor %}
        </select>
        <br>

        <button type="submit" onclick="return confirm('Are you sure you want to submit the changes?')">Submit</button>
        <button type="button" onclick="history.back()">Back</button>
    </form>

{% endblock %}
