{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} CS Teaching Management {% endblock %}</h1>
    <h2>Utility functions:</h2>
    <ul>
        <li><a href="{{ url_for('change_ay') }}">Change Academic Year</a></li>
        <li><a href="{{ url_for('report_all_teachers') }}">Report All Teachers</a></li>
        <li><a href="{{ url_for('report_all_courses') }}">Report All Courses</a></li>
        <li><a href="{{ url_for('download_db') }}">Download Database</a></li>
    </ul>
{% endblock %}