{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Teachers {% endblock %}</h1>
    <br />
    <form action="{{ url_for('add_teacher') }}">
        <input type="submit" name="add_teacher" value="Add new teacher"></input>
    </form> 
    {% for teacher in teachers %}
        <div class='teacher'>
            <a href="{{url_for('single_teacher', idteacher = teacher['idteacher'])}}">{{teacher['Lastname'] }} {{ teacher['firstname'] }}</a><br/>
        </div>
    {% endfor %}
{% endblock %}